* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor-logo-principal {
  background-color: rgb(37, 20, 45);
}

.logo-principal {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-grilla {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 6.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "todocomputador  mejorpcgamer  mejoresaccesorios" "todocomputador  tarjetasdevideo  mejoresaccesorios";
  gap: 1rem;
}

.todocomputador {
  grid-area: todocomputador;
}

.todocomputador-imagen {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.mejorpcgamer {
  grid-area: mejorpcgamer;
}

.mejorpcgamer-imagen {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.tarjetasdevideo {
  grid-area: tarjetasdevideo;
}

.tarjetasdevideo-imagen {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.mejoresaccesorios {
  grid-area: mejoresaccesorios;
}

.mejoresaccesorios-imagen {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.marcas-principales {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 7rem;
}

.notebook img {
  width: 28vw;
}

.banner-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.banner-principal-imagen {
  width: 95vw;
  height: 10vw;
}

.banner-principal-imagen img {
  width: 100%;
  height: 100%;
}

.marcas-alternativas {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 7rem;
}

.marcas-alternativas-imagen {
  width: 17vw;
  height: 5vw;
}

.marcas-alternativas-imagen img {
  width: 100%;
  height: 100%;
}

footer {
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(37, 20, 45);
  font-size: 1rem;
}

.parrafo {
  width: 421px;
  height: 40px;
}

footer p {
  color: white;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  padding-top: 10px;
}

.redes-sociales {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.instagram {
  width: 43.2px;
  height: 43.2px;
}

.twitter {
  width: 43.2px;
  height: 43.2px;
}

.facebook {
  width: 43.2px;
  height: 43.2px;
}

.redes-sociales img {
  width: 100%;
  height: 100%;
}

.producto-banner {
  width: 100vw;
  margin-bottom: 3rem;
}

.productos {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 25vw 25vw 25vw;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "notebook-1  notebook-2  notebook-3" "notebook-4  notebook-5  notebook-6" "notebook-7  notebook-8  notebook-9";
  gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.card-1 {
  grid-area: notebook-1;
  width: auto;
  text-align: center;
}

.card-2 {
  grid-area: notebook-2;
  width: auto;
  text-align: center;
}

.card-3 {
  grid-area: notebook-3;
  width: auto;
  text-align: center;
}

.card-4 {
  grid-area: notebook-4;
  width: auto;
  text-align: center;
}

.card-5 {
  grid-area: notebook-5;
  width: auto;
  text-align: center;
}

.card-6 {
  grid-area: notebook-6;
  width: auto;
  text-align: center;
}

.card-7 {
  grid-area: notebook-7;
  width: auto;
  text-align: center;
}

.card-8 {
  grid-area: notebook-8;
  width: auto;
  text-align: center;
}

.card-9 {
  grid-area: notebook-9;
  width: auto;
  text-align: center;
}

.contacto-banner {
  width: 100vw;
  margin-bottom: 2rem;
}

.caja-de-contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5rem;
}

.caja-de-contacto-texto {
  display: flex;
  flex-direction: column;
}

.despacho-banner {
  width: 100vw;
}

.despachos {
  width: 95%;
  margin: auto auto;
  text-align: justify;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.quienes-somos-banner {
  width: 100vw;
  margin-bottom: 3rem;
}

.quienes-somos {
  width: 95%;
  margin: auto auto;
  text-align: justify;
  margin-bottom: 3rem;
}

.titulo-oficinas {
  text-align: center;
}

.mapas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

@media screen and (max-width: 572px) {
  .main-grilla {
    margin-bottom: 1px;
  }
  .grilla {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "todocomputador  mejoresaccesorios" "mejorpcgamer  tarjetasdevideo";
  }
  .productos {
    grid-template-columns: 38vw 38vw;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "notebook-1  notebook-2" "notebook-3  notebook-4" "notebook-5  notebook-6" "notebook-7  notebook-8" "notebook-9    .       ";
  }
  .marcas-principales {
    display: flex;
    flex-direction: column;
    height: 1080px;
    margin-bottom: 0.5rem;
    align-items: center;
  }
  .notebook img {
    width: 90vw;
  }
  .banner-principal {
    margin-bottom: 3rem;
  }
  .banner-principal-imagen {
    width: auto;
    height: auto;
  }
  .marcas-alternativas {
    margin-bottom: 5rem;
  }
  .marcas-alternativas-imagen {
    width: 25vw;
    height: auto;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  .parrafo {
    width: auto;
    height: auto;
  }
}/*# sourceMappingURL=main.css.map */