.contacto-banner {
    width: 100vw;
    margin-bottom: 2rem;
}

.caja-de-contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5rem;
}

.caja-de-contacto-texto {
    display: flex;
    flex-direction: column;
}